@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba</h1>
</div>

<form action="/Auth/Login" method="post">
    <div>
        <footer>
            <button type="submit" class="btn btn-primary" style=" margin-left: 210px;"> Salir </button>
        </footer>
    </div>
</form>
